@using CookiesOpml.Pages
@if (Model.IsStarred)
{
    <button class="like-button liked" data-guid="@Model.Guid"></button>
}
else
{
    <button class="like-button" data-guid="@Model.Guid"></button>
}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const likeButtons = document.querySelectorAll('.like-button');
        likeButtons.forEach(likeButton => {
            likeButton.addEventListener('click', async function () {
                const itemGuid = this.getAttribute("data-guid");
                const isStarred = this.classList.contains('liked');
                const url = '/Starred/ToggleStarred';
                console.log(isStarred);
                try {
                    const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
                    const response = await fetch(url, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "RequestVerificationToken": token
                        },
                        body: JSON.stringify({ guid: itemGuid, isStarred: isStarred })
                    });
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    const data = await response.json();
                    console.log(data);
                    if (!data.isStarred) {
                        this.closest('.card').remove();
                    } else {
                        this.classList.toggle('liked', data.isStarred);
                    }
                } catch (error) {
                    console.error(error);
                }
            });
        });
    });

</script>
